.feed {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 25px 0px;
    .feed__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}